<!--
    Customer Login Page
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Customer Login</title>
    <!--Links html to css-->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>
    <!-- SCRIPT -->

    <!-- HTML -->
    <h1>Customer Login</h1>
    <form>
      <div class="form-container">
        <h2>Phone Number</h2>
        <input
          type="text"
          id="customerPhoneNumber"
          name="customerLoginPhNumber"
          placeholder="Ph Number"
        />
      </div>

      <div class="form-container">
        <h2>Password</h2>
        <input
          type="password"
          id="customerPassword"
          name="customerLoginPassword"
        />
      </div>

      <div class="button-container">
        <button type="button" onclick="window.location.href= '/'">Back</button>
        <!--On click query customer and check if exists-->
        <button type="button" onclick="loginCustomer()">Submit</button>
      </div>
      <p class="link" onclick="window.location.href= '/NewCustomer';">
        Dont have an account? Click here
      </p>
    </form>
    <script type="module" src="dist/CustomerLogin-bundle.js"></script>
    <script>
      function loginCustomer() {
        const phoneNumber = document.getElementById("customerPhoneNumber").value;
        const password = document.getElementById("customerPassword").value;

        if (phoneNumber == "" || password == "") {
          alert("password and phnumber are necessary");
          return;
        }
        window.location.href = "/CustomerLogin/" + phoneNumber + "/" + password;
        console.log(queryCustomerResultsFromLogin(phoneNumber, password));
        // window.location.href = "/CustomerLogin";
      }
    </script>
  </body>
</html>
