<!DOCTYPE html>
<html>
  <head>
    <title>Customer Homepage</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <h1>Customer HomePage</h1>
    <div class="button-container">
      <button
        type="button"
        onclick="window.location.href = '/CustomerOrderCreation';"
      >
        Place New Order
      </button>
      <button
        type="button"
        onclick="window.location.href = '/CustomerOrderHistory';"
      >
        View Order History
      </button>
      <button
        type="button"
        onclick="window.location.href = '/CustomerAccountManagement';"
      >
        Manage Your Account
      </button>
    </div>
    <!--Links to Create New Order, Order HIstory, Account Managnment-->
  </body>
</html>
