<!-- 
    This will be the first page users of the system
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Savor The Falvor Homepage</title>
    <!--Links html to css-->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>

  <body>
    <div>
      <h1>Savor The Flavor</h1>
    </div>
    <form>
      <div class="button-container">
        <button
          type="button"
          onclick="window.location.href = '/CustomerLogin';"
        >
          Customer Login
        </button>
        <!-- <button
          type="button"
          onclick="window.location.href = '/EmployeeLogin';"
        >
          Employee Login
        </button> -->
      </div>
    </form>
  </body>
</html>
