<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Managment</title>
    <!--Links html to css-->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <h1>Savor the Flavor Inventory</h1>
    <div class="button-container">
      <h2 style="color: black">Item 1</h2>
      <h2 style="color: black">Item 2</h2>
      <h2 style="color: black">Item 3</h2>
    </div>
  </body>
</html>