<!--
    Customer Deatils Page
-->
<!DOCTYPE html>
<html>
  <head>
    <title>New Customer</title>
    <!--Links html to css-->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script>
      window.onload = function () {
        const pathname = new URL(window.location.href).pathname;
        if (
          pathname.endsWith("/NewCustomer") &&
          window.location.search === "?id=invalid"
        ) {
          alert("Customer with the same name already exists");
          window.location.href = "/NewCustomer";
        }
        if (
          pathname.endsWith("/NewCustomer") &&
          window.location.search === "?id=toolong"
        ) {
          alert("Invalid Entry. Please Try Again!");
          window.location.href = "/NewCustomer";
        }
      };
    </script>
  </head>

  <body>
    <h1>New Customer</h1>
    <form>
      <div class="form-container">
        <h2>Customer Name</h2>
        <input type="text" id="customerName" placeholder="Enter name" />
      </div>

      <div class="form-container">
        <h2>Phone Number</h2>
        <input type="text" id="customerPhNumber" placeholder="Enter phone #" />
      </div>

      <div class="form-container">
        <h2>Password</h2>
        <input type="text" id="customerPassword" placeholder="Enter Password" />
      </div>
      <div class="form-container">
        <h2>Confirm Password</h2>
        <input
          type="text"
          id="confirmCustomerPassword"
          placeholder="Re-Enter Password"
        />
      </div>

      <div class="button-container">
        <button type="button" onclick="window.location.href='/CustomerLogin'">
          Back
        </button>
        <button type="button" onclick="createNewCustomer()">
          Create Account
        </button>
      </div>

      <p>
        <b>Note:</b> Once you click submit, you will automatically be assigned a
        unique ID
      </p>
    </form>
    <script>
      function createNewCustomer() {
        //get name, phoneNumber, and Password input
        const customerName = document.getElementById("customerName").value;
        const customerPhNumber =
          document.getElementById("customerPhNumber").value;
        const customerPassword =
          document.getElementById("customerPassword").value;
        const confirmedPassword = document.getElementById(
          "confirmCustomerPassword"
        ).value;
        if (customerPassword != confirmedPassword) {
          alert("Make sure passwords match");
          return;
        } else if (
          customerName == "" ||
          customerPhNumber == "" ||
          customerPassword == "" ||
          confirmedPassword == ""
        ) {
          alert("Make sure to complete each field");
          return;
        }
        /**
         * run query from app.js
         * note - doesn't have customer ID becuase that info will be created during query
         */
        window.location.href =
          "/NewCustomer/" +
          customerName +
          "/" +
          customerPhNumber +
          "/" +
          customerPassword;
      }
    </script>
  </body>
</html>
